@import url("https://fonts.googleapis.com/css?family=Press+Start+2P&display=swap");

body {
  font-family: "Press Start 2P", cursive;
  margin: 0 auto;
  box-sizing: border-box;
  background-color: black;
}

p {
  margin: 0;
  padding: 0.25rem;
}

canvas {
  background-image: url(./images/water.png);
  background-repeat: no-repeat;
  background-size: cover;
}

#game-screen {
  display: flex;
  flex-direction: column;
  max-width: 1600px;
  margin: 0 auto;
}

#stat-board {
  display: flex;
  justify-content: space-between;
  background: green;
  border: 2px solid black;
}

#stat-board > * {
  padding: 2rem;
  border: 2px solid black;
  text-align: center;
}
